/* .App {
  text-align: center;
  height: 768px;
  width: 500px;
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #69ebca, #7a42af);
}

.camera-feed {
  margin: 16px;
  border-radius: 16px;
  width: 468px;
  height: 300px;
}

.logo {
  position: absolute;
  width: 128px;
  bottom: 16px;
  left: 16px;
}

.url {
  margin: 16px;
  margin-bottom: 0px;
  border-radius: 16px;
  padding: 0 16px;
  width: 436px;
  height: 32px;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.dropzone {
  margin: 16px;
  margin-bottom: 0px;
  border-radius: 16px;
  padding: 0 16px;
  width: 436px;
  height: 32px;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  cursor: pointer;
} */

/* globals.css */

/* Import Chicle font from Google */
@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

/* vars */
:root {

  /* icons */
  --selected-icon : url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none"><path d="M12.2579 3.74584C12.3623 3.64302 12.4227 3.49708 12.4301 3.34527C12.4372 3.19316 12.3908 3.04762 12.2967 2.93553C12.2026 2.82344 12.0673 2.7525 11.9163 2.73318C11.7655 2.71416 11.6113 2.74833 11.4919 2.83331C11.269 2.99383 11.0524 3.16254 10.8416 3.33865C7.84727 5.93017 6.06296 9.45891 4.87803 13.2707L7.52014 12.5495C6.93439 11.7734 6.34864 10.9973 5.76289 10.2211C5.60652 10.0139 5.45014 9.8067 5.29376 9.5995C5.00299 9.21333 4.57845 8.97203 4.09698 8.94336C3.61646 8.91384 3.11842 9.09933 2.72897 9.44435C2.33952 9.78937 2.09534 10.2614 2.06673 10.742C2.03715 11.2234 2.22552 11.6739 2.57382 12.0091C2.76067 12.1894 2.94752 12.3696 3.13436 12.5498C3.83424 13.2248 4.53412 13.8999 5.234 14.5749C6.2446 15.5846 7.68913 15.2701 7.87611 13.8538C8.35294 10.5275 9.49229 6.93113 11.7562 4.28147C11.9171 4.09705 12.0841 3.91833 12.2579 3.74584Z" fill="%234A13C0"/></svg>');

  --camera-icon : url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M11.7343 9.99725L11.4913 10.2128C11.5004 10.4833 11.6518 11.0656 11.45 11.4416C11.2987 11.7305 11.0465 12.0836 10.4825 12.3862C9.21234 13.074 5.88336 14.4496 5.36063 14.4588C4.62238 14.4726 4.20512 14.2891 3.62277 14.1653C3.33848 14.1057 3.10921 13.904 3.00375 13.6334C2.96248 13.5234 1.5777 9.95139 1.11916 8.25481C0.834872 7.20476 -0.187665 5.04963 0.972433 4.3389C1.97663 3.72905 6.76375 2.09666 7.88258 2.06456C9.08853 2.03246 9.04268 3.22925 9.52873 4.06378C10.3954 4.09129 10.1202 3.00456 11.0419 2.48642C12.9723 1.39968 14.1095 2.38095 14.8844 4.22885C16.0766 7.08095 16.0996 11.7626 11.7343 9.99266V9.99725ZM7.88258 10.144C6.81419 9.05725 6.29604 8.35568 6.43819 6.70954C6.58034 5.06339 7.44238 5.23764 8.60707 4.39851C8.70795 4.10046 8.36404 3.03666 7.99263 2.98163C7.82297 2.95871 5.33312 3.72905 5.09926 3.87578C4.37019 4.32973 4.9617 6.10885 5.12219 6.88378C5.4019 8.23188 5.93838 9.98807 6.32814 11.3729C6.39692 11.6159 6.58951 11.8176 6.83712 11.8497C7.36443 11.9139 7.97887 11.5471 8.37321 11.2949C8.55204 11.1803 8.58873 10.9418 8.46034 10.7722C8.26316 10.52 7.96053 10.2173 7.88258 10.1394V10.144ZM13.0411 3.49978C11.7618 2.59188 11.9636 5.13676 12.0644 5.90251C12.1745 6.72329 12.9357 8.93344 14.0361 8.60329C14.967 8.32359 13.9995 4.183 13.0365 3.49978H13.0411ZM3.62277 5.2789C3.54024 5.02212 3.2697 4.63188 3.00375 4.65939C1.10541 5.32885 1.85223 6.15471 2.53545 8.25481C3.03926 9.79832 3.62277 10.9818 3.93545 12.0594C4.14818 12.4066 4.40966 13.3998 4.93545 13.2594C5.93545 12.9924 4.69594 8.63539 4.53545 8.06222C4.21906 6.91129 3.92082 6.17764 3.62277 5.2789ZM9.87721 5.2789C8.13477 5.59529 7.15809 6.04466 7.61204 8.06222C7.98804 9.72671 9.51497 8.98388 10.6842 8.83256L9.87721 5.2789Z" fill="%2309034C"/><path d="M5.80382 4.99326C6.77133 4.65853 6.53748 6.36428 5.72587 5.9516C5.36362 5.76819 5.47367 5.10331 5.80382 4.99326Z" fill="%2309034C"/></svg>');

  --dropdown-icon : url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M10.4749 2.54918C10.5589 2.71825 10.7239 3.05777 10.7246 3.05748C11.0097 2.91866 11.3833 3.03378 11.5402 3.29845C11.5535 3.31972 11.5654 3.34178 11.5763 3.36489C11.7279 3.66662 11.5795 4.06919 11.2766 4.19905C10.683 4.48071 10.1464 4.85633 9.66764 5.27936C9.07287 5.80537 8.56085 6.40109 8.10601 7.02695C7.68278 7.63327 8.24662 8.31121 8.93221 8.03424C9.20094 7.93842 9.50112 8.10884 9.56406 8.34515C9.64183 8.58118 9.48751 8.83056 9.29046 8.87712C8.37585 9.2746 7.78576 9.77819 7.16428 10.3242C6.48425 10.9503 5.86709 11.6084 5.33918 12.4722C5.29425 12.5385 5.22541 12.5732 5.14913 12.5762C5.1116 12.5771 5.07764 12.5697 5.04225 12.5517C5.0262 12.5433 4.97717 12.5203 4.96042 12.5134C4.87044 12.4784 4.80712 12.3768 4.82185 12.2783C4.95972 11.3834 5.12738 10.4163 5.17679 9.41428C5.17769 8.57327 5.31932 7.82794 4.74309 6.6594C4.64756 6.5363 4.67366 6.32106 4.82115 6.21862C4.96109 6.10816 5.21026 6.13626 5.33031 6.30731C5.4276 6.45582 5.51308 6.62273 5.58678 6.80341C5.82538 7.5194 6.60511 7.5845 7.01963 6.95384C7.65733 5.84378 8.42941 4.81598 9.38021 3.99317C9.79408 3.63515 10.241 3.31782 10.7197 3.053C10.5565 2.71712 10.3934 2.38124 10.2302 2.04536C9.64957 2.29484 9.09851 2.61256 8.5864 2.98111C7.40857 3.82904 6.44669 4.92793 5.65974 6.10849L7.09258 6.25891C7.00439 5.99179 6.89133 5.72334 6.74472 5.46307C6.22764 4.50626 4.87628 4.13138 3.92108 4.71079C2.94071 5.24545 2.56373 6.63077 3.1588 7.60383C3.26901 7.80033 3.32118 8.64294 3.25779 9.29333C3.19117 10.1546 3.02472 11.0263 2.86585 11.9716C2.69345 12.9469 3.27626 13.9869 4.19697 14.3542L4.11514 14.3159C4.44722 14.4917 4.83049 14.5812 5.20809 14.5693C5.95785 14.5538 6.68779 14.1147 7.05 13.4609C7.39221 12.8551 7.90883 12.2163 8.44796 11.652C8.92017 11.1601 9.49114 10.6541 9.95107 10.41C10.9553 9.97301 11.4105 8.68863 10.9473 7.74881C10.5288 6.79125 9.31048 6.35026 8.4052 6.78154L9.23141 7.78883C9.59723 7.20339 10.0175 6.65716 10.5038 6.1945C10.8952 5.82207 11.3287 5.5045 11.7972 5.2707C12.6724 4.86319 13.0635 3.70593 12.6212 2.85727C12.5901 2.79399 12.5555 2.73283 12.5172 2.67353C12.0523 1.92541 11.0093 1.63853 10.2336 2.03689C10.2314 2.03793 10.3937 2.37878 10.4749 2.54918ZM10.4749 2.54918C10.5231 2.65034 10.3284 1.9915 10.2302 2.04536L10.7197 3.053L10.4749 2.54918Z" fill="%234A13C0"/></svg>');

  --circle-tile: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"><circle cx="4" cy="4" r="2" fill="%23E5E5E5"/></svg>');

  /* colors */
  --

  --gray-100: #EBF0F5;
  --gray-100-op50: rgba(235, 240, 245, 0.5);

  --purple-900: #4A13C0;
  --purple-800: #7F5DCA;

}

html {
  font-family: 'Chicle', cursive, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  /* font-size: 18px; Base size you requested */
  /* line-height: 1.5; */
  color-scheme: light dark;
  /* respects system dark/light mode */
}

body {
  background-color: #fff;
  /* light theme background */
  color: #111;
  /* default text color */
}

/* Headings scale */
h1 {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0px;
}

p, button {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0px;
}


html {
  overflow: hidden;
}

/* Positioning */
.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute !important;
}

/* Edge alignment */
.top-0 {
  top: 0 !important;
}

.left-0 {
  left: 0 !important;
}

.right-0 {
  right: 0 !important;
}

.bottom-0 {
  bottom: 0 !important;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}

.z-6 {
  z-index: 6;
}

.z-7 {
  z-index: 7;
}

.z-8 {
  z-index: 8;
}

.z-9 {
  z-index: 9;
}

.z-10 {
  z-index: 10;
}


/* Padding helpers (same scale) */
.p-0 {
  padding: 2px;
}

.p-1 {
  padding: 4px;
}

.p-2 {
  padding: 8px;
}

.p-3 {
  padding: 12px;
}

.p-4 {
  padding: 16px;
}

.p-5 {
  padding: 20px;
}

.p-6 {
  padding: 24px;
}

.p-6 {
  padding: 32px;
}


/* Margin helpers */
.m-0 {
  margin: 0;
}

.m-1 {
  margin: 4px;
}

.m-2 {
  margin: 8px;
}

.m-3 {
  margin: 12px;
}

.m-4 {
  margin: 16px;
}

.m-5 {
  margin: 20px;
}

.m-6 {
  margin: 24px;
}

.m-7 {
  margin: 32px;
}


/* border radius */
.br-4 {
  border-radius: 4px;
}

.br-8 {
  border-radius: 8px;
}

.br-12 {
  border-radius: 12px;
}

.br-16 {
  border-radius: 16px;
}

.br-20 {
  border-radius: 20px;
}
.br-24 {
  border-radius: 24px;
}



/* flexbox types */

.flex-col {
  display: flex;
  flex-direction: column;
}

/* flexbox types */

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* flexbox gap helpers */
.gap-0 {
  gap: 0;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-3 {
  gap: 12px;
}


svg {
  width: inherit;

}



.popup-container {
  /* max-width: 356px; */
  /* border-radius: 18px; */
  background-color: var(--gray-100-op50);
}

.popup-container>.inner-container {
  background-color: var(--gray-100);
  background-image: var(--circle-tile);
  background-repeat: repeat;
  background-position: top left;
  /* border-radius: 16px; */
}

button {
  padding: 10px;
  border-radius: 32px;
}
button.primary, button.secondary {
  margin-top: 16px;
}
button.primary {
  background-color: var(--purple-900);
  color: var(--gray-100);
}
button, button:hover, button:active {
    transition: transform 100ms ease-in-out,filter 100ms ease-in-out;
}

button:hover {
    filter: brightness(1.2);
}

button.primary:active, 
button.secondary:active {
    transform: scale(0.95);
}
video.camera-feed {
    max-width: 400PX;
    border: 4px solid var(--gray-100-op50);
}
button.camera-dropdown {
    background-color: var(--gray-100-op50);
    /* width: 148px; */
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
span.cd-icon {
    width: 16px;
    display: inline-block;
}
/* icon setup */
.has-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.has-icon.dropdown-icon {
    content: var(--dropdown-icon);
}
.has-icon.camera-icon {
    content: var(--camera-icon);
}
.has-icon.right-side {
    margin-left: 0px;
}
.has-icon.left-side {
    margin-right: 0px;
}

.has-icon.right-side.dropdown-icon.rotated-180 {
    transform: rotate(180deg);
}
button.cd-selected > .has-icon.dropdown-icon {

    content: var(--selected-icon);
}
.dropdown-text {
    width: 108px;
    display: inline-block;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--purple-900);
    overflow: hidden;
}
.camera-dropdown-list-container {
    background-color: var(--gray-100);
}